<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/header.ejs") %>
   
   
    <main class="main-login-register">
        
            <h2 class="title">CREAR PRODUCTO</h2>
            <%- include("../partials/createForm.ejs") %>
        </section>
        
        <%- include("../partials/seguinos.ejs") %>
        <%- include("../partials/conoceMas.ejs") %>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>
</html>



    
