<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
<body>

    <%- include("../partials/header.ejs") %>
    <main class="main-login-register">
        <h1 class= "userSaludo"> ¡Hola <%= locals.estaLogueado.firstname %>!</h1>
		<div class="userInformacion">
            <figure class="userAvatar">
                <img src="/images/users/<%= locals.estaLogueado.avatar %> " alt="Imagen de perfil">
                <% console.log(locals.estaLogueado.avatar) %> 

            </figure>
			<div class="userPerfil">
                <p class="infoTitulo">Información del usuario</p>
                <div class="nombreCompleto">
                    <p class="dataTitle">Nombre y apellido</p>
                    <p class="userName"><%= locals.estaLogueado.firstname%> <%= locals.estaLogueado.lastname %></p>
                </div>
                <div class="userDatabase">
                    <p class="dataTitle">Email:</p>
                    <p class="userEmail"> <%= locals.estaLogueado.email %></p>
                </div>
            </div>
        </div>
        <a href="/users/editProfile/<%= locals.estaLogueado.id %>">
            <button class="button-edit">Editar <i class="fa-solid fa-file-pen"></i></button>
        </a>
        <%- include("../partials/seguinos.ejs") %>
        <%- include("../partials/conoceMas.ejs") %>
        
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>