<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
<body>
    <%- include("../partials/header.ejs") %>
    <main class="main-login-register">
        
            <h2 class="title">CREAR CUENTA</h2>
        
            <form class="loginRegisterForm" action="/users/register" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="name">Nombre</label>
                    <input class='control' type="text" id="name" name="firstName" placeholder="Ej. Juan"
                    value= "<%= locals.oldData ? oldData.firstname: null %>">
                    <div id="errorName"></div>
						
                    <% if (locals.errors && errors.firstname) { %>
                        <div class="errorValidacion">
                            <p><%= errors.firstname.msg %></p>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="name">Apellido</label>
                    <input class='control' type="text" id="lastName" name="lastName" placeholder="Ej. Perez"
                    value= "<%= locals.oldData ? oldData.lastname: null %>">
                    <div id="errorLastName"></div>
						
                    <% if (locals.errors && errors.lastname) { %>
                        <div class="errorValidacion">
                            <p><%= errors.lastname.msg %></p>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input class='control' type="email" id="email" name="email" placeholder="ejemplo@gmail.com" 
                    value= "<%= locals.oldData ? oldData.email: null %>">
                    <div id="errorEmail"></div>
						
                    <% if (locals.errors && errors.email) { %>
                        <div class="errorValidacion">
                            <p><%= errors.email.msg %></p>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="telephone">Teléfono</label>
                    <input class='control' type="text" id="telephone" name="telephone" placeholder="3510000000"
                    value= "<%= locals.oldData ? oldData.telephone: null %>">
						
                    <!-- <% if (locals.errors && errors.telephone) { %>
                        <div class="errorValidacion">
                            <p><%= errors.telephone.msg %></p>
                        </div> 
                    <% } %> -->
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input class='control' type="password" id="password" name="password" placeholder="Contraseña" 
                    value= "<%= locals.oldData ? oldData.password: null %>">
                    <div id="errorPassword"></div>
						
                    <% if (locals.errors && errors.password) { %>
                        <div class="errorValidacion">
                            <p><%= errors.password.msg %></p>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="password">Repetir Contraseña</label>
                    <input class='control' type="password" id="checkPassword" name="checkpassword" placeholder="Contraseña"
                    value= "<%= locals.oldData ? oldData.checkpassword: null %>">
                    <div id="errorCheck"></div>
						
                    <% if (locals.errors && errors.checkpassword) { %>
                        <div class="errorValidacion">
                            <p><%= errors.checkpassword.msg %></p>
                        </div> 
                    <% } %>
                </div>
                <div>
                    <label for="image">Avatar</label>
                    <input class='control' type="file" id="image" name="avatar" multiple accept=".jpg, .png, .jpeg, .svg"
                    value= "<%= locals.oldData ? oldData.image: null %>">
                    <div id="errorAvatar"></div>
						
                    <% if (locals.errors && errors.image) { %>
                        <div class="errorValidacion">
                            <p><%= errors.image.msg %></p>
                        </div> 
                    <% } %>
                </div>
                <div class="loginRegisterBtn">
                    <input class="button" type="submit" value="CREAR">
                    <p>¿Ya tenés cuenta? <a href="/users/login">¡Iniciá sesión!</a></p>
                </div>
            </form>   
        </section>
        <%- include("../partials/seguinos.ejs") %>
        <%- include("../partials/conoceMas.ejs") %>
    
    </main>   
    <%- include("../partials/footer.ejs") %>
    <script src="/js.1/userRegisterValidator.js"></script>
</body>
</html>